:root {
  --white-color: white;
  --black-color: #222222;
  --lightgray-color: #f0f0f0;
  --darkgray-color: #999999;
  --placeholder-color: #bbbbbb;

  --main-color: #f56652;
  --sub-color: #ffa634;
}
